<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51196192-1', 'applecat-cafe.com');
  ga('send', 'pageview');

</script>
  <!-- Site Properities -->
  <title>查找書籍最新價錢</title>

  <link rel="stylesheet" type="text/css" href="/css/semantic.css">
  <style type="text/css">
    body {
/*      background: #FCFCFC url(/images/bg.jpg) repeat;
      padding-left: 20px;
      padding-right: 20px;*/
    }
    
  </style>
</head>
<body>
<div class="ui form">
  <div class="field">
    <label>ISBN</label>
    <form><input type="text" name="keyword" value="<%= @keyword.empty? ? "9789865740375" : @keyword %>"><input type="submit" value="搜尋" class="ui blue submit button" /></form>
  </div>
</div>

<div class="ui segment">
  <img class="ui small left floated image" src="<%= @book_image %>" draggable="true"><p><%= @book_name %></p>
</div>

<div class="ui divided list">
  <% @book_sites.each do |site| %>
  <div class="item">
    <a href="<%= site.link%>" target="_blank"><div class="right floated tiny teal ui button">打開網址</div></a>
    <!-- <img class="ui avatar image" src="/images/demo/avatar2.jpg" draggable="true"> -->
    <div class="content">
      <div class="header"><%= site.site %> NT. $ <%= site.price %></div>
    </div>
  </div>
  <% end %>
</div>

</body>
</html>